<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Achtung control</title>
</head>
<body>
<form method="post" id="f" action="">
    {% csrf_token %}
    What chat room would you like to enter?<br/>
    <input id="room-name-input" name="room-name" type="text" size="100" style="width:90%"/><br/>
    Enter your nickname ?<br/>
    <input id="user-nickname-input" name="user-nickname" type="text" size="100" style="width:90%"/><br/>
    <input id="room-enter-submit" type="submit" value="Enter"/>
</form>
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-enter-submit').click();
            }
        };

        document.querySelector('#room-name-input').onchange = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            document.querySelector("#f").action = '/achtung/' + roomName + '/'
            /*
            window.location.pathname = ;
            */
        };
    </script>
</body>
</html>