<!DOCTYPE html>
<html style="-webkit-text-size-adjust: none; touch-action: manipulation;">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<head>
    <meta charset="utf-8"/>
    <title>Achtung control - {{ room_name_json }}</title>
</head>

<style>
    #controls {
        width:100%;
    }
    .btn {
        color: red;
        height: 300px;
        width: 49%;
        background-color: black;
        font-size: 50px;
    }
</style>

<body>
    <h3>Achtung control - {{ room_name_json }} -- {{ user_nickname_json }}</h3>
    <div id="controls">
        <input id="btn-l" type="button" class="btn" value="<"/>
        <input id="btn-r" type="button" class="btn" value=">"/>
    </div>
    <br/><br/>

    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>


</body>
<script>
    var roomName = {{ room_name_json }};
    var userNickname = {{ user_nickname_json }}

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/achtung/' + roomName + '/' + userNickname + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };


     document.querySelector('#btn-l').onclick = function(e) {
        chatSocket.send(JSON.stringify({
            'message': "L"
        }));
    };
     document.querySelector('#btn-r').onclick = function(e) {
        chatSocket.send(JSON.stringify({
            'message': "R"
        }));
    };

</script>
</html>